{% extends 'base.html' %}

{% block article %}
    <h4>Дата публикации: {{article.art_date}}</h4>
    <h2>{{article.art_title}}</h2>
    <p>{{article.art_text}}</p>
    <hr>
    <h5>Комментарии</h5>
    <div class="small-offset-1 large-8 columns">
	{% for comment in comments %}
		<p>{{ comment.comm_text }}</p>
	{% endfor %}
    <form action="/articles/addcomment/{{ article.id }}/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="button" value="Добавить комментарий">
    </form>
	</div>
{% endblock %}